input{
  width: 450px;
  height: 45px;
}

.devise-container{
  width: 600px;
  margin: 0px auto 50px auto;
  justify-content: center;
}

.devise-title{
  font-weight: 600;
  font-size: 1.2em;
  margin: 0px 40% 10px 40%;
}

.form-box{
  border: 2px solid rgba(215, 240, 248, 0.815);
}

.form-group{
  margin: 40px 75px;
}

.form-btn{
  margin: 40px 60px 30px 95px;
  width: 400px;
  font-weight: 600;
  background-color: rgb(11, 171, 219);
  color: #ffffff;
  border-radius: 20px;
}

.form-btn:hover{
  background-color: rgb(136, 209, 231);
}

.password-reset{
  margin: 0 0 40px 170px;
}

.devise-space{
  height: 160px;
}