.carousel-item {
  height: 40vh;
  min-height: 400px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-item {
  color: white;
  margin: 0px 30px;
}